<div class="row pt-4">
    <div class="col-12 col-md-9">
     <%= render('posts/entradas')%>
    </div>

    <div class="col-12 col-md-3 alert alert-secondary text-center">
        <h3> Publicidad</h3>
        <%= render('publicidads/publi')%>
    </div>
</div>
